# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Data & artifacts
data/*
!data/.gitkeep
mlruns/
artifacts/
models/

# OS
.DS_Store
Thumbs.db
